<form nz-form [formGroup]="validateForm" class="login-form">
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzFor="fileName" nzRequired>文件夹名称</nz-form-label>
    <nz-form-control [nzSpan]="19" nzErrorTip="请输入创建文件夹名称">
      <nz-input-group>
        <input type="text" nz-input formControlName="fileName" placeholder="请输入创建文件夹名称" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzFor="client" >应用</nz-form-label>
    <nz-form-control [nzSpan]="19" nzErrorTip="请选择对应的应用">
      <nz-select id="gender" formControlName="client" nzPlaceHolder="请选择对应的应用">
        <nz-option [nzValue]="item" [nzLabel]="item" *ngFor="let item of options"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzFor="isCreateList" >是否创建内部列表页</nz-form-label>
    <nz-form-control [nzSpan]="19" nzErrorTip="请选择">
      <nz-radio-group   formControlName="isCreateList" >
        <label nz-radio nzValue="1">是</label>
        <label nz-radio nzValue="0">否</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="12" [nzOffset]="5">
      <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"
        (click)='submit()'>确认</button>
      <button nz-button class="login-form-button login-form-margin" [nzType]="'default'" (click)='reset()'>重置</button>
    </nz-form-control>
  </nz-form-item>
</form>